.details__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.details__wrapper > div {
    margin-top: 100px;

    border-radius: 10px;
    width: 60%;
    background-color: black;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.details__image {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
.details__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s;
    z-index: 12;
}
.details__image img.hide {
    opacity: 0;
}