.hero {
    width: 100%;
    height: 80vh;
    min-height: 1200px;
    position: relative;
}
.hero:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
}
.hero:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(0deg,rgba(20,20,20,1) 18%,rgba(20,20,20,0) 97%);
}

.hero__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
}

.hero__info {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    left: 4%;
    top: 150px;
    padding: 0 1rem 0 0;
    width: 620px;
}
.hero__info > div {
    margin-bottom: 20px;
}
.info__title {
    min-height: 300px;
    display: flex;
    align-items: flex-end;
}
.info__title h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 3px;
    font-family: 'Russo One', sans-serif;
}

.info__subtitle {
    display: flex;
    min-height: 45px;
}
.info__subtitle span {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.info__subtitle span img {
    width: 40px;
}
.info__subtitle h3 {
    font-size: 2rem;
    font-weight: 500;
}
.info__description {
    overflow: hidden;
    min-height: 140px;
}
.info__description p {
    font-size: 1.5rem;
}

.info__action {
    display: flex;
    margin-top: 20px;
}
.info__action button {
    margin-right: 30px;
    padding: 14px 33px;
    font-size: 1.5rem;
    min-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: background-color .4s ease;
    cursor: pointer;
}
.info__action button span {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.info__action button span img {
    width: 30px;
}
.info__action .btn-info {
    color: white;
    background: rgba(109,109,110,0.6);
}
.info__action .btn-info:hover {
    background: rgba(109,109,110,0.3);
}

.info__action .btn-play:hover {
    background-color: lightgray;
}
.info__action .btn-info span img {
    width: 35px;
}