.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.loader.hidden {*/
/*    animation: fadeOut 1s;*/
/*    animation-fill-mode: forwards;*/
/*}*/