.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader h1 {
    font-size: 4rem;
}
.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}