.card {
    width: 97%;
    position: relative;
    /*overflow: hidden;*/
    will-change: transform;
    transition: transform .2s ease-out;
    border-radius: 10px;
}

.item {
    position: relative;
    top: 0;
    left: 0;
    background-color: #141414;
    border-radius: 10px;
}

.image {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding: 28.125% 0;
    position: relative;
}

.image > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.info {
    display: flex;
    position: absolute;
    flex-direction: column;
    opacity: 0;
    will-change: auto;
    width: 100%;
    padding: 10px 4%;
    background-color: #141414;
    border-radius: 0 0 5px 5px;
    transition: all 0.3s;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 1);
    visibility: hidden;
}

.card.active {
    transform: perspective(500px) translateZ(150px) translateY(-50px);
    /*transform: translateY(-70px) scale(1.2);*/
    transition-delay: .8s;
    z-index: 21;
}
/*.card.modal {*/
/*    transform: perspective(2200px) translateZ(1000px) translate(142%,-46%);*/
/*    !*transform: translateY(-70px) scale(1.2);*!*/
/*}*/
.info.active {
    transition-delay: .8s;
    border-radius: 0 0 10px 10px;
    visibility: visible;
    opacity: 1;
}
.image.active {
            border-radius: 10px 10px 0 0;
            transition-delay: 0.8s;
}
/*@media screen and (min-width: 700px) {*/
/*    .card:hover {*/
/*        transform: perspective(500px) translateZ(160px) translateY(-30px);*/
/*        !*transform: translateY(-70px) scale(1.2);*!*/
/*        transition-delay: .7s;*/
/*        z-index: 21;*/
/*    }*/


/*    .card:hover .image {*/
/*        border-radius: 10px 10px 0 0;*/
/*        transition-delay: 0.8s;*/
/*    }*/

/*    .card:hover .info {*/
/*        transition-delay: .8s;*/
/*        border-radius: 0 0 10px 10px;*/
/*        display: flex;*/
/*        opacity: 1;*/

/*    }*/
/*}*/

/*.card:hover .contentRow {*/
/*   !*overflow: initial;*!*/
/*    */
/*}*/

.options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.option {
    display: block;
    position: relative;
    width: 12%;
    /*height: 15%;*/
    padding-top: 12%;
    border-radius: 50%;
    border: 1px solid lightgray;
}


.option img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.tooltip {
    position: absolute;
    display: inline;
    background-color: lightgray;
    color: #141414;
    font-size: 12px;
    border-radius: 1px;
    padding: 2px 3px;
    text-align: center;
    visibility: hidden;
    width: max-content;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    /*margin-left: -50px;*/
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: lightgray transparent transparent transparent;
}

.option:hover {
    border-color: #ffffff;
    cursor: pointer;
}

.option:hover .tooltip {
    visibility: visible;
}

.option:nth-last-child(1) {
    margin-left: 20%;
}

.play {
    background-color: #ffffff;
    border-color: #ffffff;
}

.play:hover {
    background-color: lightgray;
    border-color: lightgray;
}

.play img {
    margin-left: 2px;
}

.rating {
    margin: 3px 0;
}

.genres ul {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;

}

.genres ul li {
    color: lightgray;
    font-size: 12px;
    margin-left: 25px;
}

.genres ul li:nth-child(1) {
    list-style: none;
    margin-left: 0;
}


.item__title {
    position: absolute;
    bottom: -2px;
    left: 0;
    padding: 40px 10px 10px 10px;
    width: 100%;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.5) 15%, rgba(20, 20, 20, 0) 97%);
}

.item__title > h3 {
    font-size: min(2vw, 1.5rem);
}
